# Template from https://stackoverflow.com/questions/21573405/how-to-prepare-a-unity-project-for-git

# EDIT: Project subfolder
# =============== #
# Unity generated #
# =============== #
VJ/Temp/
VJ/Obj/
VJ/UnityGenerated/
VJ/Library/
VJ/Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
VJ/ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db